{% extends 'base.html' %} 
{% load humanize %}
{% load static %}
{% block content %}
    



      <!-- Showcase -->
<!-- 
      <section id="showcase">
        <div class="container text-center">
          <div class="home-search p-5">
            <div class="overlay p-5">
              <h2 class="display-4 mb-4">
                we work to develop your business
              </h2>
              <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae quas, asperiores eveniet vel nostrum magnam
              voluptatum tempore! Consectetur, id commodi!</p>
            </div>
          </div>
        </div>
      </section>
 -->
      <!-- Work -->
    <section id="work" class="bg-dark text-white text-center">
      <div class="container text-center">
        <div class="home-search p-5">
          <h2 class="display-4"><b>We work to develop your business</b></h2>
        </div>
      </div>
    </section>


      <!-- Listings -->

      <!-- <section id="listings" class="py-4">
        <div class="container">
          <div class="row">
            <div class="col-md-8">
              <h2>We Work For You</h2>
              <p class="lead">vugi chugi kisu lekha lagbo, and kisu photo bosanu lagbo</p>            
              <img src="{% static 'img/about.jpg' %}" alt="">
              <p class="mt-4">aikhaneo habijabi kisu leikha vora lagbo.</p>
            </div>          
          </div>
        </div>
      </section>
 -->
      



      <div class="kc-elm kc-css-23079" style="height: 50px; clear: both; width:100%;"></div>

      <div class="listing-heading text-center">
        <h1 class="kc_title">Services you will love to have</h1>
      </div>

      <div class="kc-elm kc-css-273275" style="height: 30px; clear: both; width:100%;"></div>

      <div class="content-wrapper">
        <div class="container">
          <div class="row">

            <div class="col-sm-4 service-card">
              <div class="service-icon">
                <i class="ion-fireball"></i>
              </div>
              <div class="service-content">
                <h4>Brand Design, Logo Design, Brand Guideline</h4>
                <p>Design brand guideline, creative logos and the best suited brand color for your business. A great logo represents the greater brand.</p>
              </div>
            </div>

            <div class="col-sm-4 service-card">
              <div class="service-icon">
                <i class="ion-android-options"></i>
              </div>
              <div class="service-content">
                <h4>UI / UX Design</h4>
                <p>Design web application, mobile app, dashboard , software panel, software analysis. Best interface communicates the best with customers.</p>
              </div>
            </div>

            <div class="col-sm-4 service-card">
              <div class="service-icon">
                <i class="ion-android-checkmark-circle"></i>
              </div>
              <div class="service-content">
                <h4>System Prototype Design</h4>
                <p>Design system architecture prototypes, pipelines, Flow diagrams, blueprints for software applications and design structures.</p>
              </div>
            </div>
            <div class="col-sm-4 service-card">
              <div class="service-icon">
                <i class="ion-tshirt-outline"></i>
              </div>
              <div class="service-content">
                <h4>Stationary &amp; T-Shirt Design</h4>
                <p>Design stationary items &amp; T-shirts in custom designs with great print quality in vector formats.&nbsp;</p>
              </div>
            </div>

            <div class="col-sm-4 service-card">              
              <div class="service-content">
                <h4>Vehicle Wrap &amp; Mock Up Design</h4>
                <p>Design vehicle wrapping stickers along with nice mockup to understand the look on a car, plane, bus, van for out of home advertising.</p>
              </div>
            </div>

            <div class="col-sm-4 service-card">
              <div class="service-icon">
                <i class="ion-android-wifi"></i>
              </div>
              <div class="service-content">
                <h4>Graphics Design</h4>
                <p>Design high quality social media contents, business cards, brochures, flyers, media posts, ad post designs , banner design, bag mockup design.</p>
              </div>
            </div>

          </div>
        </div>
      </div>



      <div class="kc-elm kc-css-23079" style="height: 50px; clear: both; width:100%;"></div>





      <section id="listings" class="py-5">
        <div class="container">
          <h1 class="text-center mb-3">Recent Work</h1>
          <div class="kc-elm kc-css-273275" style="height: 30px; clear: both; width:100%;"></div>
          <div class="row">
            {% if listings %}
              {% for listing in listings %}        
                <div class="col-md-6 col-lg-4 mb-4">
                  <div class="card listing-preview">
                    <img class="card-img-top" src="{{ listing.photo_main.url }}" alt="" style="width:348px;height:150px;">                   
                    <div class="card-body">
                      <div class="listing-heading text-center">
                        <h4 class="text-primary">{{ listing.title }}</h4>                        
                      </div>                      
                      <hr> 
                      <a href="{% url 'listing' listing.id %}" class="btn btn-primary btn-block">More Info</a>
                    </div>
                  </div>
                </div>
              {% endfor %}
            {% else %}
              <div class="col-md-12">
                <p>No Listing Available</p>
              </div>
            {% endif %}
    
          </div>
        </div>
      </section>




    <!-- 
      <section id="services" class="py-5 bg-secondary text-white">
        <div class="container">
          <d iv class="row text-center">
            <div class="col-md-4">
              <i class="fas fa-comment fa-4x mr-4"></i>
              <hr>
              <h3>Consulting Services</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, debitis nam! Repudiandae, provident iste consequatur
                hic dignissimos ratione ea quae.</p>
            </div>
            <div class="col-md-4">
              <i class="fas fa-home fa-4x mr-4"></i>
              <hr>
              <h3>Propery Management</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, debitis nam! Repudiandae, provident iste consequatur
                hic dignissimos ratione ea quae.</p>
            </div>
            <div class="col-md-4">
              <i class="fas fa-suitcase fa-4x mr-4"></i>
              <hr>
              <h3>Renting & Selling</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, debitis nam! Repudiandae, provident iste consequatur
                hic dignissimos ratione ea quae.</p>
            </div>
          </div>
        </div>
      </section>
 -->


{% endblock %} 
